<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New Home</title>
</head>

<body>
  <header>
    <h1>Add a New Home</h1>
  </header>

  <main>
    <form action="/host/add-home" method="POST">
      <label for="name">Home Name:</label><br>
      <input type="text" id="name" name="name"><br>
      <label for="location">Location:</label><br>
      <input type="text" id="location" name="location"><br><br>
      <input type="submit" value="Submit">
    </form>
  </main>

</body>

</html>