<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New Home</title>
  <link rel="stylesheet" href="output.css">
</head>

<body class="flex flex-wrap flex-col items-center">
  <header>
    <h1 class="text-red-500 bg-sky-100 text-3xl p-4 font-medium shadow-lg rounded-lg mt-10">Add a New Home</h1>
  </header>

  <main class="mt-10 border p-6 rounded-lg shadow-lg w-1/3">
    <form action="/add-home" method="POST">
      <label class="" for="name">Home Name:</label><br>
      <input class="border border-gray-300 rounded-sm" type="text" id="name" name="name"><br>
      <label for="location">Location:</label><br>
      <input class="border border-gray-300 rounded-sm" type="text" id="location" name="location"><br><br>
      <input class="text-white font-medium bg-sky-500 p-1 px-3 rounded-sm block mx-auto" type="submit" value="Submit">
    </form>
  </main>

</body>

</html>