<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Airbnb</title>
  <link rel="stylesheet" href="output.css">
</head>
<body class="flex flex-wrap flex-col items-center">
  <h1 class="text-red-500 bg-sky-100 text-3xl p-4 font-medium shadow-lg rounded-lg mt-10">Welcome to Airbnb</h1>
  <p class="text-amber-500 mt-5">Explore our listings and find your perfect stay!</p>
  <a href="/add-home" class="text-green-500 underline p-2">Add Home</a>
</body>
</html>